[Desktop Entry]
Version=1.0
Type=Application
Name=Quackle
Comment=Crossword game artificial intelligence and analysis tool
Exec=quackle
Icon=quackle
Terminal=false
Categories=Game;BoardGame;
Keywords=crossword;scrabble;word;game;ai;
